@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.container {
  background-color: #ffffff;
  width: 736px;
  padding: 40px;
  border-radius: 24px;
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 30px;
}

.topic h1 {
  font-family: "Young Serif", serif;
  font-size: 40px;
  font-weight: 400;
  color: #2b2724;
}

.paragraph p {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #5f564d;
  margin-top: 24px;
}

.preparing-time {
  padding: 25px;
  border-radius: 12px;
  margin-top: 30px;
}

.preparing-time p {
  color: #7a284e;
  font-weight: 700;
  margin-bottom: 15px;
}

.preparing-time ul {
  list-style-type: disc;
  padding-left: 20px;
}

.preparing-time li {
  color: #5f564d;
  margin-bottom: 10px;
  padding-left: 10px;
}

.preparing-time li::marker {
  color: #7a284e;
  font-size: 14px;
}

.Ingredients span {
  font-family: "Young Serif", serif;
  color: #854632;
  font-size: 28px;
  font-weight: 400;
  margin-top: 20px;
}

.Ingredients ul {
  list-style-type: disc;
  padding: 20px;
}

.Ingredients li {
  color: #5f564d;
  margin-bottom: 15px;
  padding-left: 10px;
}

.Ingredients li::marker {
  color: #5f564d;
  font-size: 14px;
}

.instructions .ins-topic {
  font-family: "Young Serif", serif;
  color: #854632;
  font-size: 28px;
  font-weight: 400;
  margin-top: 20px;
}

.instructions ol {
  padding: 17px;
}

.instructions ol li {
  padding-left: 15px;
  margin-bottom: 20px;
  color: #5f564d;
}

.instructions ol li::marker {
  font-size: 15px;
  color: #854632;
  font-weight: 700;
}

.instructions span {
  font-weight: 700;
  color: #5f564d;
}

.nutrition-container span {
  font-family: "Young Serif", serif;
  color: #854632;
  font-size: 28px;
  font-weight: 400;
  margin-top: 20px;
}

.nutrition-container p {
  margin-top: 20px;
  color: #5f564d;
  font-size: 16px;
}

table {
  width: 100%;
  padding-top: 20px;
}

.table td {
  border-bottom: 1px solid #e3ddd7;
  padding: 12px;
  color: #5f564d;
}

.table td:last-child {
  color: #854632;
  font-weight: bold;
}

/* @media (max-width: 375px) {
 body {
    padding: 0; 
  }

  .container {
    width: 100%;    
    border-radius: 0;
    padding: 24px;   
  }

  .container img {
    width: 100%;    
    height: auto;  
    border-radius: 0; 
    margin: -24px -24px 32px -24px; 
    width: calc(100% + 48px )
  }

  .topic h1 {
    font-size: 30px; 
  }
} */


@media (max-width: 375px){
body {
    padding: 0;
}

.container{
    width: 100%;
    border-radius: 0;
    padding: 24px;
}

.container img {
    width: 110%;
    margin-left: -18px;
    height: 200px;
    border-radius: none;
}

.topic h1 {
    font-size: 30px;
}
}